{% load i18n %}
{% load static %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% trans 'My_site' %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="{% static 'styles/default.css' %}" rel ="stylesheet">
<link rel="stylesheet" href="{% static 'styles/fonts.css' %}" rel ="stylesheet">
</head>