<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" novalidate>
    {% csrf_token %}
    <p>Формула квадратного уравнения</p>
    {{ form.a }}х<sup>2</sup> +
    {{ form.b }}x +
    {{ form.c }}= 0

        <br><button type="submit">Отправить</button>
</form>
{% if succes %}
<p>a: {{a}}</p>
<p>b: {{b}}</p>
<p>c: {{c}}</p>
<p>Дискременант: {{D}}</p>
{% endif %}
{% if D > 0 %}
<p>x1: {{x1}}</p>
<p>x2: {{x2}}</p>
{% endif %}
{% if D == 0 %}
<p>x: {{x}}</p>
{% endif %}
</body>
</html>