{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/list.css' %}">
    <title>{% trans 'Title' %}</title>
</head>
<body>
{% for object in object_list %}
    <h2>{{ object.title }}({{ object.id }})</h2>
    <b>{% trans 'Дата публикации:' %}{{ object.created_datetime }}</b>
    <p>{{ object.text|truncatewords:10 }}...</p>
    <b><a href="{% url 'post_detail' object.pk %}">{% trans 'Подробнее' %}</a> </b>
    <b><a href="{% url 'post_edit' object.pk %}">{% trans 'Отредактировать' %}</a> </b>
    <b><a href="{% url 'post_delete' object.pk %}">{% trans 'Удалить' %}</a> </b>
{% endfor %}
</body>
</html>
