{% load i18n %}
{% load static %}

<div id="header-wrapper">
	<div id="header" class="container">
        <div id="logo">
            <h1><span class="fa fa-bolt"></span>{% trans 'MY_SITE' %}</h1>
        </div>
		<div id="menu">
            {% for object in object_list %}
			<ul>
				<li class="current_page_item"><a href="{% url 'main' %}">{% trans 'Головна' %}</a></li>
{#				<li><a href="#" accesskey="2" title="">Our Clients</a></li>#}
{#				<li><a href="#" accesskey="3" title="">About Us</a></li>#}
{#				<li><a href="#" accesskey="4" title="">Careers</a></li>#}
{#				<li><a href="#" accesskey="5" title="">Contact Us</a></li>#}
			</ul>
            {% endfor %}
		</div>
	</div>
</div>