{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'menu.html' %}
<div id="wrapper">
<h1>{% trans 'Форма создания новости' %}</h1>

<form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans 'Отправить' %}</button>
</form>
</div>
{% include 'footer.html' %}
</body>
</html>