{% load i18n %}

<h1>{% trans 'Вы уверены что хотите удалить объект?' %}</h1>
<form method="post">
    {% csrf_token %}
    <button type="submit">{% trans 'Да' %}</button>
    <a href="/">
        <button type="button">{% trans 'Нет' %}</button>
    </a>
</form>