{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'menu.html' %}
<div id="wrapper">
	<h2>{{ object.title }}</h2>
    <h5>{% trans 'Написан:' %} {{ object.created_datetime }}</h5>
    <p>{{ object.text }}</p>
    {% if object.comments.exists %}
        <h3>{% trans 'Комментарии:' %}({{ object.comments.count }})</h3>
    {% endif %}
    {{ hello }}
    <hr>
    {% for comment in object.comments.all %}
        <p>{{ comment.comment }}</p>
    {% empty %}
        <p>{% trans 'Напиши первым комментарий' %}</p>
    {% endfor %}
    <br>

</div>
{% include 'footer.html' %}
</body>
</html>