{% load i18n %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

{% include 'head.html' %}

<body>
{% include 'menu.html' %}

<div id="wrapper">
	<div id="featured-wrapper">
		<div id="featured" class="extra2 margin-btm container">
			<div class="main-title">
				<h2>Лента новостей</h2>
                {% for object in test %}
			        <div class="ebox1"> <span class="fa fa-puzzle-piece"></span>
				        <div class="title">
					        <h2>{{ object.title }}({{ object.id }})</h2>
					        <b>{% trans 'Дата публикации:' %}{{ object.created_datetime }}</b>
                            <p>{{ object.text|truncatewords:10 }}...</p>
                            <b class="button"><a href="{% url 'post_detail' object.pk %}">{% trans 'Подробнее' %}</a> </b>
                            <b class="button"><a href="{% url 'post_edit' object.pk %}">{% trans 'Отредактировать' %}</a> </b>
                            <b class="button"><a href="{% url 'post_delete' object.pk %}">{% trans 'Удалить' %}</a> </b>
                            <hr>
		                </div>
                    </div>
                {% endfor %}
	        </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>
